hr{
    margin: auto;
    width: 70%;
    border: 2px solid var(--cor2);
    border-radius: 15px;
}

section{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section div#caixa1{
    width: 50%;
    font-family: var(--font1);
    font-size: var(--paragrafo1);
}

section div#caixaimg1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section div#caixaimg1 img{
    border-radius: 15px;
    scale: .99;
}

section div#caixa2{
    width: 50%;
    font-family: var(--font1);
    font-size: var(--paragrafo1);
}


section div#caixa3{
    width: 50%;
    font-family: var(--font1);
    font-size: var(--paragrafo1);
}

section div#caixa3 p a{
    background: linear-gradient(-45deg, #4158d8, #24d9f1, #0dccee, #5c94e9);
    background-size: 400% 400%;
    animation: bg 12s ease infinite;

/* Aqui vamos deixar em fila os links do projeto */ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;

/* Aqui vamos deixar o link estiloso e tamanhos ideais */
    color: #fff;
    font-family:Bebas Neue;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

section div#caixa3 p a:hover{
    color: black;
    scale: 1.1;
    transition: 0.3s;
}

header > nav > ul > li#projeto{
    color: rgb(0, 31, 88);
    border-radius: 15px;
    opacity: 0.5;
}




@media screen and (max-width: 1200px) {
section div#caixaimg1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}